/*

!/.gitignore

!/advancedban/
!/dkbans/
!/professionalbans/
!/floodgate/
!/geysermc/
!/litebans/
!/viaversion/

# Keep src, resources and build.gradle in all dirs included above
!/*/src/
!/*/src*/
!/*/resources/
!/*/build.gradle
