/*

!/.github/
!/.gitignore

!/gradle/
!/gradlew
!/gradlew.bat
!/build.gradle
!/settings.gradle
!/gradle.properties

!/README.md

!/api/
!/bungee/
!/common/
!/spigot/
!/sponge/
!/sponge8/
!/velocity/
/.github/
