/*

!/.github/
!/.gitattributes
!/.gitignore

!/gradle/
!/gradlew
!/gradlew.bat
!/build.gradle
!/settings.gradle
!/gradle.properties

!/README.md

!/buildSrc/

!/api/
!/bungee/
!/common/
!/spigot/
!/sponge/
!/sponge7/
!/velocity/
!/fabric/
