###################################################################
#                                                                 #
#                            Negativity                           #
#                      AntiCheat by Elikill58                     #
#                                                                 #
#              If you have a problem or a suggestion,             #
#                    You can contact me on:                       #
#                  - Discord: @Elikill58#0743                     #
#       - my Discord server: https://discord.gg/KHRVTX2           #
#               - Mail: arpetzouille@gmail.com                    #
#                   - SpigotMC: Elikill58                         #
#                  - Minecraft.fr: Elikill                        #
#                                                                 #
###################################################################

# Database for storing info, if applicable
# Disabled by default
Database:
  # Enable database
  isActive: false
  # Info is stored by player ID, not username.
  # This plugin doesn't edit the database.
  # The database credentials and IP are never accessable by us.
  url: "127.0.0.1/myDb"
  user: root
  user: "root"
  password: "myPassword"

# Configuration of the permissions subsystem. For more information
# see https://github.com/Elikill58/Negativity/wiki/Permissions
Permissions:
  # The checker is used to see if a player has the correct permissions
  # By default only 'platform' is available
  # 'platform' means Negativity will use supported permissions plugins
  checker: platform
  showAlert:
    # Allow viewing sent alerts
    default: "negativity.alert"
  admin:
    # Admin permissions
    default: "negativity.admin"
  showReport:
    # See reports sent with /report
    default: "negativity.seereport"
  notBanned:
    # Bypass bans
    default: "negativity.notbanned"

Translation:
  active: false # enable or disable per-player translation with /nlang
  lang_available:
  - ar_EG
  - cs_CZ
  - de_DE
  - en_US
  - es_ES
  - fr_FR
  - hu_HU
  - it_IT
  - nl_NL
  - no_NO
  - pl_PL
  - pt_BR
  - ro_RO
  - ru_RU
  - sq_SQ
  - sv_SV
  - vi_VN
  - zh_CN
  # Default language for players
  default: en_US
  # The provider used to get translated messages, useful if you want to customize the way Negativity gets its messages.
  # The only one available out-of-the-box is "platform".
  provider: platform

# Configuration of the bans subsystem. For more information
# see https://github.com/Elikill58/Negativity/wiki/Bans
ban:
  active: false
  # Processors manage how bans are stored. Only one processor can be used at the time.
  # Available processors :
  # - file : Save bans in a folder
  # - database : Saves bans in a database. Needs a configured database (see the Database config)
  # - command : Runs another plugin's commands to ban or unban
  #
  # The following plugins are also supported :
  # - dkbans
  # - advancedban
  # - litebans
  # Defaults to "file"
  processor: "file"
  # Commands to execute when using the "command" processor
  # You can execute as many commands as you want. Order is respected.
  #
  # Available placeholders:
  # %uuid% : uuid of banned player
  # %name% : name of banned player
  # %ip% : ip of the banned player
  # %reason% : detected cheat
  # %alert% : number of alerts for the detected cheat that triggered the ban
  # %all_alert% : all alerts for the detected cheat since you added Negativity on your server
  command:
    ban:
    - "ban %uuid% %reason%"
    unban:
    - "unban %uuid% %reason%"
  # Cheats that aren't auto-banned for
  cheat_disabled:
  - xray
  # Confidence needed to be banned
  reliability_need: 95
  # Alerts sent before ban
  alert_need: 10
  # Formula for the length of the ban
  # IN MILLISECONDES
  time:
    # %reliability% : reliability of last alert
    # %alert% : number of alerts sent
    calculator: "360000000 + (%reliability% * 20 * %alert%)"
  def:
    # Minimum ban time
    ban_time: 2
  file:
    # Log expired or revoked bans when using the "file" processor
    log_bans: true
  database:
    # Log expired or revoked bans when using the "database" processor
    log_bans: true

# Configure player specific info, like their language and alerts count.
accounts:
  storage:
    # The processor to use
    # (Only used for loading account's data, saving must be handled by Negativity on the game server)
    #
    # The following are available out-of-the-box:
    # - database : uses a database (Set above)
    # Defaults to "database"
    id: "database"
