###################################################################
#                                                                 #
#                            Negativity                           #
#                      AntiCheat by Elikill58                     #
#                                                                 #
#              If you have a problem or a suggestion,             #
#                    You can contact me on:                       #
#                  - Discord: @Elikill58#0743                     #
#       - my Discord server: https://discord.gg/KHRVTX2           #
#               - Mail: arpetzouille@gmail.com                    #
#                   - SpigotMC: Elikill58                         #
#                  - Minecraft.fr: Elikill                        # 
#                                                                 #
###################################################################

log_alerts: true
log_alerts_in_console: true
tps_alert_stop: 19 # if you get less TPS then this value, all alert will be disabled

# To enable or disable /report
report_command: true
# To enable or disable /nban /nunban
ban_command: true
unban_command: true
kick_command: true

Database:
  isActive: false
  # To get the information. We use the player uuid to get the information.
  # We get only what you write. We never add or remove something.
  # We don't save your private information about your database
  url: "127.0.0.1/myDb"
  user: root
  password: "myPassword"
  table_lang: "myTable"
  column_find_row: "uuid" # the column which contains the uuid of the searched player
  column_lang: "lang"
  saveInCache: true # To do less request to your database

inventory:
  alerts:
    no_started_verif_cheat: false # Don't see if the player isn't analyse for this cheat
    only_cheat_active: true # The cheat with an active detection
  inv_freeze_active: true

# Bypass when you add effects
# 
items:
  #ITEM_NAME:
  # when: WHEN_DISABLE_DETECTION
  # cheats: CHEATS_DETECTION_DISABLED (it's the ID of the cheats like fly, speed)
  #
  # when available:
  # always : disable when the player get it in their hand
  # right_click : disable when the player right click 
  # left_click : disable when the player left click 
  # looking : disable when the player is looking a specific type
  #
  COMPASS:
    when: always
    cheats: speed,fly

Permissions:
  # The checker indicates if a player has a specific permission.
  # By default only 'platform' is available
  checker: platform
  showAlert:
    default: "negativity.alert"
  showReport:
    default: "negativity.seereport"
  verif:
    default: "negativity.verif"
  manageCheat:
    default: "negativity.managecheat"
  report_wait:
    default: "negativity.reportwait"
  report:
    default: "negativity.report"
  ban:
    default: "negativity.ban"
  unban:
    default: "negativity.unban"
  # To bypass ban system
  notBanned:
    default: "negativity.notbanned"
  mod:
    default: "negativity.mod"
  lang:
    default: "negativity.lang"
  bypass:
    active: false
    all:
      default: "negativity.bypass.all"
    forcefield:
      default: "negativity.bypass.forcefield"
    fastplace:
      default: "negativity.bypass.fastplace"
    speed:
      default: "negativity.bypass.speed"
    autoclick:
      default: "negativity.bypass.autoclick"
    fly:
      default: "negativity.bypass.fly"
    antipotion:
      default: "negativity.bypass.antipotion"
    fasteat:
      default: "negativity.bypass.fasteat"
    regen:
      default: "negativity.bypass.regen"
    antiknockback:
      default: "negativity.bypass.antiknockback"
    jesus:
      default: "negativity.bypass.jesus"
    nofall:
      default: "negativity.bypass.nofall"
    blink:
      default: "negativity.bypass.blink"
    spider:
      default: "negativity.bypass.spider"
    fastbow:
      default: "negativity.bypass.fastbow"
    scaffold:
      default: "negativity.bypass.scaffold"
    step:
      default: "negativity.bypass.step"
    noslowdown:
      default: "negativity.bypass.noslowdown"
    fastladder:
      default: "negativity.bypass.fastladder"
    phase:
      default: "negativity.bypass.phase"
    autosteal:
      default: "negativity.bypass.autosteal"
    nuker:
      default: "negativity.bypass.nuker"
    airjump:
      default: "negativity.bypass.airjump"
    chat:
      default: "negativity.bypass.chat"
    noweb:
      default: "negativity.bypass.noweb"
    critical:
      default: "negativity.bypass.critical"
    inventorymove:
      default: "negativity.bypass.inventorymove"
    faststairs:
      default: "negativity.bypass.faststairs"
    nopitchlimit:
      default: "negativity.bypass.nopitchlimit"

Translation:
  active: false # enable or disable the translation
  lang_available:
  - de_DE
  - en_US
  - fr_FR
  - nl_NL
  - no_NO
  - pt_BR
  - ru_RU
  - zh_CN
  - sv_SV
  - es_ES
  - vi_VN
  - pl_PL
  use_db: false # to get the lang
  default: en_US
  # The provider used to get translated messages, useful if you want to customize the way Negativity gets its messages.
  # The only one available out-of-the-box is "platform".
  provider: platform

# 
# You can put this plugin on your Bungeecord/Waterfall/Velocity !
# Why ? You can know when a player hack even if you're not on the same spigot/sponge server !
# 
hasBungeecord: false

# The time between 2 /report
# in milliseconds
# -1 to disable
time_between_report: 1000

# The time between 2 alerts
# in milliseconds
# -1 to disable
time_between_alert: 1000

alert:
  # To run command when someone get alert
  command:
    active: false
    # Reliability need to run command
    reliability_need: 80
    # Available arguments:
    # %name% : Name of player who cheat
    # %uuid% : UUID of player who cheat
    # %report_type% : Type of detected cheat (Know if Negativity consider it as Warning or Violation)
    # %cheat_key% : Cheat key (like "nofall") : You cannot edit it
    # %cheat_name% : Cheat name (like "NoFall") : You can edit it just below
    # %reliability% : Reliability of the alert
    run:
    - "mycommand %name% %cheat_key% %reliability%"

ban:
  active: false
  # Processors manage bans. Only one processor can be used at the time.
  # Available processors :
  # - file : Saves bans under the ban/ directory of the configuration directory
  # - database : Saves bans in a database. Needs a configured database (see the Database category)
  # - command : Runs commands to ban or unban
  # - bukkit : Uses Bukkit's ban system
  # The following plugins are also supported :
  # - maxbans
  # - advancedban
  # Defaults to "file"
  processor: "file"
  # Commands to execute when using the "command" processor
  # You can execute as many commands as you want. Order is respected.
  #
  # Available placeholders:
  # %uuid% : uuid of banned player
  # %name% : name of banned player
  # %ip% : ip of the banned player
  # %reason% : detected cheat
  # %alert% : number of alerts for the detected cheat that triggered the ban
  # %all_alert% : all alerts for the detected cheat since you added Negativity on your server
  command:
    ban:
    - "/ban %uuid% %reason%"
    unban:
    - "/unban %uuid% %reason%"
  # Need to be banned
  reliability_need: 95
  alert_need: 10
  # How to calculate the time during the player will be banned
  # IN MILLISECONDES
  time:
    # %reliability% : reliability of last alert
    # %alert% : number of alert sent
    calculator: "360000000 + (%reliability% * 20 * %alert%)"
  def:
    # Number that you need to be ban definitly
    ban_time: 2
  file:
    # Log expired or revoked bans when using the "file" processor
    log_bans: true
  database:
    # Log expired or revoked bans when using the "database" processor
    log_bans: true

suspect:
  # Start cheat detection when people suspect a player
  #  Suspecting detected with the chat and with /report
  # 
  enabled: true
  chat: true
  with_report_cmd: true
  alias:
  - "cheat"
  - "hack"

cheats:
  #
  # WARNING: An auto verification of all cheat can be create some lag on your server.
  #

  # Forcefield is to hit more entity than real people in the same time and further
  forcefield:
    reach: 3.9 # In blocks !
    ghost_disabled: false
    ping: 150
    exact_name: "ForceField"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Jesus is to walk on the water
  jesus:
    ping: 150
    exact_name: "Jesus"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # AntiPotion remove bad potion effect
  antipotion:
    ping: 150
    exact_name: "AntiPotion"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # NoFall remove fall damage
  nofall:
    kill: false
    kill-reliability: 90 # reliability to authorize to kill player
    ping: 150
    exact_name: "NoFall"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # FastEat is to eat something instantly
  fasteat:
    ping: 150
    exact_name: "FastEat"
    isActive: true
    reliability_alert: 60
    autoVerif: false
    setBack: false
    kick: false
    alert_to_kick: 5

  # FastPlace place a lot of block for you
  fastplace:
    ping: 150
    exact_name: "FastPlace"
    isActive: true
    # Max time between 2 blocks placed
    # In milliseconds
    time_2_place: 50
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Speed makes you run faster
  speed:
    ping: 150
    exact_name: "Speed"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # AutoClick is to get more click than real people
  autoclick:
    click_alert: 20
    ping: 150
    exact_name: "AutoClick"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Fly enable you to fly
  fly:
    ping: 150
    exact_name: "Fly"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Regen help you to get your health
  regen:
    ping: 150
    exact_name: "Regen"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # AntiKnockback remove knockback effect
  antiknockback:
    ping: 150
    exact_name: "AntiKnockback"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Blink enable you to teleport by simulating lag
  blink:
    ping: 150
    exact_name: "Blink"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # FastBow shoot bow quicker
  fastbow:
    ping: 150
    exact_name: "FastBow"
    isActive: true
    reliability_alert: 60
    autoVerif: false
    setBack: false
    kick: false
    alert_to_kick: 5

  # Spider make you walk on the wall
  spider:
    ping: 150
    exact_name: "Spider"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Sneak make you sneaking but with basic speed
  sneak:
    ping: 150
    exact_name: "Sneak"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Scaffold place block under you
  scaffold:
    ping: 150
    exact_name: "Scaffold"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Step make you jump 2 blocks
  step:
    ping: 150
    exact_name: "Step"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # NoSlowDown remove slow down effects (like with soul sand)
  noslowdown:
    ping: 150
    exact_name: "NoSlowDown"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # FastLadders is to climb ladders quickler
  fastladder:
    ping: 150
    exact_name: "FastLadder"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Phase is to glitch on block
  phase:
    ping: 150
    exact_name: "Phase"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # AutoSteal help with inventory (Take verything ...)
  autosteal:
    ping: 150
    exact_name: "AutoSteal"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5
  
  # XRay cannot be detected directly, it's about Minerate
  xray:
    ping: 300
    exact_name: "XRay"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5
  
  # Nuker/BedBreaker automatically break block without looking her
  nuker:
    ping: 150
    exact_name: "Nuker"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5
  
  # AirJump make you jump on air
  airjump:
    ping: 150
    exact_name: "AirJump"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5
  
  # Chat represent all chat hack (spam/insult)
  chat:
    ping: 300
    exact_name: "Chat"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5
    insults:
    - "bitch"
    - "asshole"
    - "dickhead"
  
  # NoWeb make you walking on web like if you walk on ground
  noweb:
    ping: 150
    exact_name: "NoWeb"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # Critical make you walking on web like if you walk on ground
  critical:
    ping: 150
    exact_name: "Critical"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # InventoryMove make you walking while editing your inventory
  inventorymove:
    ping: 150
    exact_name: "InventoryMove"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # FastStairs make you walking faster on Stairs
  faststairs:
    ping: 150
    exact_name: "FastStairs"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # NoPitchLimit enable player to see behind
  nopitchlimit:
    ping: 150
    exact_name: "NoPitchLimit"
    isActive: true
    reliability_alert: 60
    autoVerif: true
    setBack: false
    kick: false
    alert_to_kick: 5

  # There is some special features
  special:
    mcleaks:
      kick: true
