/*

!/.gitignore

!/build.gradle

!/src/
!/resources/
!/spigot17/
!/spigot18/
!/spigot182/
!/spigot19/

!/integrations/
/integrations/*/*
!/integrations/*/src
!/integrations/*/resources
!/integrations/*/build.gradle
