/*

!/.gitignore

!/essentials/
!/gadgetsmenu/
!/maxbans/
!/professionalbans/
!/worldguardv6/
!/worldguardv7/
!/custombanplus
!/ultrapunishments

# Keep src, resources and build.gradle in all dirs included above
!/*/src/
!/*/src8/
!/*/src11/
!/*/resources/
!/*/build.gradle
